/* Define o estilo básico para todos os elementos da página */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Define a fonte padrão para o corpo da página */
body {
    font-family: 'Montserrat', sans-serif;
}

/* Define o estilo para os títulos principais */
h1 {
    font-weight: 800;
}

/* Define o estilo para os parágrafos de texto */
p {
    font-weight: 400;
}

/* Define o estilo para os parágrafos de texto */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-image: linear-gradient(75deg, #3832c5, #412b7c);
    padding: 30px 80px;
}

/* Define o estilo para o contêiner principal da seção de conteúdo */
.container-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* Define o estilo para o contêiner de imagem */
.container-img {
    min-height: 500px;
    min-width: 646px;
    padding-top: 30px;
    height: 100%;
    width: 100%;
}

/* Define o estilo para a imagem dentro do contêiner de imagem */
.container-img img {
    max-height: 646px;
    width: 100%;
}

/* Define o estilo para o contêiner de informações */
.container-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 30px 0 30px 30px;
    height: 100%;
}

/* Define o estilo para o título da seção de informações */
.container-info h1 {
    font-size: 68px;
    padding-right: 50px;
    line-height: 75px;
    text-align: left;
    color: #6cd1ff;
}

/* Define o estilo para o parágrafo da seção de informações */
.container-info p {
    font-size: 24px;
    line-height: 39px;
    text-align: left;
    margin-left: 135px;
    margin-top: 40px;
    color: white;
}

/* Define o estilo para o botão "Comece Agora" da seção container-info */
.container-info a {
    padding: 15px 45px;
    margin: 40px 135px 0 135px;
    border: none;
    border-radius: 25px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 26px;
    background-color: #0fb5ff;
}

/* Define o estilo do botão "Comece Agora" quando o cursor do mouse está sobre ele */
.container-info a:hover {
    cursor: pointer;
    transition: all 300ms ease-in-out;
    text-align: center;
    font-size: 18px;
    background-color: rgba(108, 209, 255, 0.8);
}

/* Define o estilo para o rodapé da página */
footer {
    font-size: 16px;
    text-align: center;
    padding: 30px 0;
    background-color: #333;
    color: #FFFFFF;
}
/* Define o estilo para os links no rodapé */
footer a {
    text-decoration: none;
    color: #6cd1ff;
}

/* Define o estilo para os links no rodapé quando o cursor do mouse está sobre eles */
footer a:hover {
    cursor: pointer;
    text-decoration: underline;
    color: rgba(108, 209, 255, 0.4);
    transition: all 300ms ease-in-out;
    font-size: 16.3px;
}

/* Estilos para telas com largura até 425px*/
@media (max-width: 425px) {
    .container {
        padding: 30px 50px;
        height: auto;
        width: auto;
        overflow: hidden;
    }

    .container-main {
        max-width: 426px;
        width: 100%;
        flex-direction: column;
    }

    .container-img {
        max-width: inherit;
        width: 100%;
        min-width: 140px;
        min-height: 135px;
    }

    .container-info {
        padding: 0;
    }

    .container-info h1 {
        font-size: 20px;
        padding: 0;
        line-height: 25px;
        margin: 10px 0;
    }

    .container-info p {
        padding: 0;
        margin: 0;
        font-size: 15px;
        text-align: center;
        line-height: 25px;
    }

    .container-info a{
        font-size: 12px;
        margin: 20px 0;
    }

    .container-info a:hover{
        font-size: 12px;
        cursor: pointer;
        transition: all 300ms ease-in-out;
        text-align: center;
        background-color: rgba(108, 209, 255, 0.8);
    }

    footer{
        font-size: 13px;
    }
}

/* Estilos para telas com largura entre 426px e 768px */
@media (min-width: 426px) and (max-width: 768px) {
    .container {
        height: auto;
        width: auto;
        overflow: hidden;
    }

    .container-main {
        max-width: 426px;
        width: 100%;
        flex-direction: column;
    }

    .container-img {
        max-width: inherit;
        width: 100%;
        min-width: 430px;
        min-height: 255px;
    }

    .container-info {
        padding: 0;
    }

    .container-info h1 {
        font-size: 29px;
        padding: 0;
    }

    .container-info p {
        padding: 0;
        margin: 10px 0;
        font-size: 18px;
        text-align: center;
        line-height: 28px;
    }

    .container-info a{
        font-size: 12px;
        margin: 20px 135px 0 135px;
        width: 200px;
    }

    .container-info a:hover{
        font-size: 12px;
        cursor: pointer;
        transition: all 300ms ease-in-out;
        text-align: center;
        background-color: rgba(108, 209, 255, 0.8);
    }

    footer{
        font-size: 13px;
    }
}

/* Estilos para telas com largura entre 769px e 1024px */

@media (min-width: 769px) and (max-width: 1024px){
    .container {
        width: auto;
        overflow: hidden;
    }

    .container-main {
        max-width: 426px;
        width: 100%;
    }

    .container-img {
        max-width: inherit;
        width: 100%;
        min-width: 430px;
        min-height: 255px;
    }

    .container-info h1 {
        font-size: 68px;
        padding: 0;
    }

    .container-info p {
        font-size: 22px;
        line-height: 28px;
    }

    .container-info a{
        padding: 10px 25px;
        font-size: 16px;
        margin: 20px 135px 0 135px;
        width: 210px;
    }

    footer{
        font-size: 16px;
    }
}